{% extends 'base.html' %}

{% block title %}
Головна
{% endblock %}

{% block body %}
<main class="px-3 text-center text-white bg-dark d-flex align-items-center justify-content-center flex-column" style="width: 100%; height: calc(100vh - 143.91px);">
    <h1>The HARDKISS</h1>
    <p class="lead" style="width: 70vh">Українська група The Hardkiss була створена в 2011 році. Авторство всіх пісень належить її учасникам — Юлії Саніній та Валерію Бебку, який також виступає креативним продюсером The Hardkiss. Довгоочікуваний дебютний альбом Stones and Honey вони випустили лише у 2015 році. На той момент їх уже було визнано "Відкриттям року" за версією всеукраїнської музичної премії Yuna.</p>
    <p class="lead">
      <a href="/history" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Дізнатися про гурт детальніше</a>
    </p>
</main>
{% endblock %}